NODE_ENV=development
PORT=8080
DB_URL=mongodb://127.0.0.1:27017
DB_NAME=circle
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:8080
ACCESS_SECRET=
ACCESS_TOKEN_EXPIRES=900000
REFRESH_TOKEN_EXPIRES=604800000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_URL=